<html>
    <head>
        <title>Galton Gauss</title>
    </head>
    <body>
      <h1>Options</h1>
      <ul>
      <li><a href="/enter_properties">Enter properties</a></li>
      <li><a href="/see_reports">See reports</a></li>
      </ul>
      <h1>Comps for Order {{ order_id }}</h1>
      <ul class=comps>
	{% for comp in comps %}
	 <li><a href="{{comp.url}}"> {{ comp.address }} </a></li> 
	{% else %}
	 <li><em>Unbelievable.  No entries here so far</em>
	{% endfor %}
  </ul>
    </body>
</html>
