<html>
    <head>
        <title>Galton Gauss</title>
    </head>
    <body>
      <h1>Options</h1>
      <ul>
      <li><a href="/enter_properties">Enter properties</a></li>
      <li><a href="/see_reports">See reports</a></li>
      </ul>
      <h1>Comps for Order {{ order_id }}</h1>
      <ul class=comps>
	{% for comp in comps %}
	<li><a href="{{comp.url}}"> {{ comp.address }} </a></li> 
	<form action="/delete_property/{{order_id }}/{{ comp.id }}">
	  <input type="submit" value="Delete this property" />
	</form>
	<ul>
	  {% for key, value in dict(comp).items() %}
	  <form action="/modify_attribute/" method="POST">
	    <input type="hidden" name="property_id" value={{ comp.id }}>
	    <input type="hidden" name="order_id" value={{ order_id }}>
	    <input type="hidden" name="key" value={{ key }}>
	    <li>{{key}}:{{value}} <input type="text" name="value", value={{ value }}> <input type="submit", value = "update"> </li>
	  </form>
	  {% endfor %}
	  </ul>
	{% else %}
	 <li><em>Unbelievable.  No entries here so far</em>
	{% endfor %}
  </ul>
    </body>
</html>
